@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@700&family=Outfit&display=swap');
* {
    font-family: 'Outfit', sans-serif;
    margin: 0;
    color: white;
}

@media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
}

body {
    background-color: black;
}

.navbar li {
    display: inline-block;
    margin-top: 5vh;
}

.navbar a {
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    margin: 15px;
    color: white;
    padding: 8px;
    border: solid 1px black;
    border-radius: 25px;
}

.navbar a:hover {
    color: white;
    font-family: 'Outfit', sans-serif;
    border: solid 1px #FF0000;
    background-color: #FF0000;
    transition: 0.7s;
}

.navbar a:active {
    color: #FF0000;
    font-size: 13px;
}

.column {
    float: left;
    width: 33.33%;
}

.row {
    margin-top: 50px;
    padding: 25px;
    text-align: center;
}

.column img {
    filter: brightness(60%);
    height: 25%;
    width: 80%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}