@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@700&family=Outfit&display=swap');
* {
    font-family: 'Outfit', sans-serif;
    margin: 0;
    color: white;
}

body {
    background-color: black;
}

.navbar li {
    display: inline-block;
    margin-top: 5vh;
}

.navbar a {
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    margin: 15px;
    color: white;
    padding: 8px;
    border: solid 1px black;
    border-radius: 25px;
}

.navbar a:hover {
    color: white;
    font-family: 'Outfit', sans-serif;
    border: solid 1px #FF0000;
    background-color: #FF0000;
    transition: 0.7s;
}

.navbar a:active {
    color: #FF0000;
    font-size: 13px;
}

.home_container {
    margin-top: 150px;
    display: flex;
}

.left_content,
.image,
.right_content {
    width: 33.33%;
    text-align: center;
}

.image img {
    filter: brightness(60%);
    align-items: center;
}

.developer {
    font-size: 3vw;
    font-weight: bold;
    padding: 5px;
}

.developer_content,
.programmer_content {
    font-size: 12px;
}

.programmer {
    font-size: 3vw;
    font-weight: bold;
    padding: 5px;
}

.social_icons_nav {
    justify-content: center;
    text-align: center;
}

.social_icons_nav img {
    margin-top: 15px;
    height: 50px;
    width: 50px;
    padding: 10px;
    filter: invert(1);
    border: solid 1px white;
    border-radius: 4px;
}

.social_icons_nav img:hover {
    background-color: white;
    filter: invert(0);
    transition: 0.6s;
}

.aboutme {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    margin-top: 50px;
}

.aboutme_container {
    margin-top: 60px;
    display: flex;
}

.aboutme_left,
.aboutme_right {
    width: 50%;
}

.aboutme_left img {
    margin: auto;
}

.aboutme_content {
    text-align: center;
    font-size: 2vw;
    margin: auto;
    padding: 5px;
}